body {
    color: white;
    background-image: url("https://media0.giphy.com/media/FriDA6d5kMZI4/giphy.gif?cid=790b761156fa6d35c0dbc53aa1c182ca329166bc348f1f12&rid=giphy.gif&ct=g");
    background-size: cover;
}
.navbar-brand{
    color:white;
    font-size: 25px;
}
.carousel-item{
    margin-left: 32%;
    height:500px;
    width:500px;
}
.form{
    margin-right:125px;
}
#email{
    margin-left: 40px;
}
#message{
    margin-left: 13px;
    width: 182px;
}
button{
    margin-left: 75px;
}
.email{
    color:white;
}

.email::after, .email:visited
a::after, a:visited{
    color:white;
}
ul{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

